body {
    font-family: "Funnel Display";
    font-size: 20px;
    background-color: #373740;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: #0B7010;
}

a:active {
    color: #7DD183;
}

a:hover {
    color: #279635;
}

header {
    margin: 25px 100px;
    padding: 10px 100px;
    border: solid;
    border-color: #279635;
    border-radius: 0px 50px;

    h1 {
        font-size: 4em;
        text-align: center;
    }

    p {
        font-size: 1em;
    }
}

section {
    display: flex;
    flex-direction: column;
    padding: 10px 75px;
    margin: 50px 10px;
    border-left: solid;
    border-right: solid;
    border-radius: 20px;
}

section > section > section {
    margin: 20px 10px;
    padding: 0px;
    border: none;
}

.sectitle {
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    display: block;
    width: 600px;
    padding: 5px 30px;
    border-radius: 0px 20px;
}

.seccontent {
    display: flex;
    flex-direction: column;
}

section:hover > *.sectitle {
    background-color: #279635;
    transition-duration: 0.5s;
}

footer {
    padding: 10px 75px;
    background-color: black;
}

/* Navigation Bar Styling */
nav {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

nav > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 10px;
        
        a {
            color: inherit;
            text-decoration: none;
        }

        a:link, a:visited, a:active, a:hover {
            color: inherit;
        }
    }

    li:hover {
        background-color: #279635;
        transition-duration: 0.5s;
    }
}

/* Styling Icons */
.icon {
    width: 100px;
    height: 100px;
}

.boxed {
    padding: 10px;
    border-radius: 20px;
}

ul.icon-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 30px;
    }
}

/* Coloring */

.gray {
    background-color: gray;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
